.navbar {
    background-color: #6E27B1;
}

.navbar .nav-link {
    color: white;
    font-weight: bold;
}

.div_headname {
    position: relative;
    display: inline;
    color: #7F4AB2;
    font-size: 20px;
    font-weight: bold;
}

.div_newpost {
    float: right;
    position: relative;
    display: inline;
}

.div_newpost .newpost {
    background-color: #6E27B1;
    color: #ffffff;
    border-radius: 22px;
    padding: 5px 15px 5px 5px;
    border: 0px;
}

.div_newpost .newpost:hover {
    background-color: #6e27b1e3;
}

.forum_name {
    font-size: 16px;
    font-weight: bold;
}

.forum_sub_title {
    font-size: 14px;
    font-weight: 100;
    color: #919191;
    cursor: pointer;
}

.forum_sub_title img {
    margin-top: -3px;
    background-color: #ff00000f;
    padding: 2px;
    border-radius: 6px;
    margin-left: 1px;
}

.forum_sub_head_detail {
    font-size: 25px;
    color: #7F4AB2;
}

.forum_sub_date_detail {
    padding-bottom: 7px;
    margin-top: -5px;
    color: #999999;
    font-size: 12px;
    border-bottom: 1px solid #cccccc5c;
}

.forum_sub_title_detail {
    margin-top: 30px;
    font-weight: bold;
}

.boxlite_head {
    padding: 5px;
    border-bottom: 2px solid #cccccc;
    border-radius: 3px;
    margin-top: 20px;
}

.boxlite_detail {
    padding: 5px;
    border-top: 1px solid #cccccc;
    margin-bottom: 5px;
    border-radius: 3px;
}


/********************** reply comment post ************************/

.reply_comment {
    position: absolute;
    padding: 15px 30px 15px 15px;
    text-align: right;
    background-color: #F7F6FF;
    right: 43px;
    bottom: -29px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 32px;
}

.reply_comment .reply {
    display: inline;
    position: relative;
    padding: 7px 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 3px;
    color: #7F4AB2;
    font-weight: bold;
    border-left: 1px solid #cccccc;
}

.reply_comment .reply:hover {
    background-color: #cccccc;
}

.reply_comment .view {
    display: inline;
    position: relative;
    padding: 0 5px;
    font-size: 15px;
    color: #7F4AB2;
    font-weight: bold;
}

.reply_comment_post {
    position: relative;
    padding: 0px 30px 15px 15px;
    text-align: right;
}

.reply_comment_post .reply {
    display: inline;
    position: relative;
    padding: 4px 5px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 3px;
    color: #7F4AB2;
    font-weight: bold;
}

.reply_comment_post .reply:hover {
    background-color: #cccccc;
}

.reply_comment_post .view {
    display: inline;
    position: relative;
    padding: 0 5px;
    font-size: 15px;
    color: #8b8585;
    opacity: 0.5;
}

.footer {
    position: relative;
    background: linear-gradient(0deg, rgba(37, 20, 48, 1) 3%, rgb(105 56 136) 6%, rgb(63 21 90) 94%, rgba(37, 20, 48, 1) 99%);
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}

.footer .list {
    position: relative;
    display: inline;
    font-size: 20px;
    color: #cccccc;
    padding: 0 10px;
}


/************************ bg-color ***************/

.border-head {
    border-top: 0px solid #ffffff6e;
}

.profile {
    position: relative;
    align-items: center;
    padding: 10px 49px;
}

.reply_comment_post .viewcomment {
    display: inline;
    position: relative;
    font-size: 15px;
    color: #7F4AB2;
    font-weight: bold;
    cursor: pointer;
    padding: 3px;
    background-color: #cccccc;
    border-radius: 5px;
}

.reply_comment_post .deletecomment {
    display: inline;
    position: relative;
    font-size: 15px;
    color: red;
    font-weight: bold;
    cursor: pointer;
    padding: 3px;
    background-color: #cccccc;
    border-radius: 5px;
}

.reply_comment_post .deletecomment:hover {
    background-color: #ffd1d1;
}

.reply_comment_post .viewcomment:hover {
    background-color: #ffd1d1;
}

.null {
    display: none;
}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    display: inline;
    margin-right: 5px;
}

.profile .profile_name {
    font-size: 20px;
    font-weight: bold;
    position: relative;
    display: inline;
    color: #7F4AB2;
}

.showpost {
    box-shadow: 0px 3px 10px #00000029;
    border-radius: 3px;
}

th {
    color: #7F4AB2;
    text-transform: capitalize;
    font-weight: 100;
    background-color: #F7F7F7;
}

td {
    color: #7F4AB2;
    font-size: 15px;
    font-weight: bold;
}

.modal-title {
    color: #7F4AB2;
    font-size: 16px;
    font-weight: bold;
}

.col-form-label {
    color: #7F4AB2;
    font-weight: bold;
}

.btn-createpost {
    color: #fff;
    background-color: #6E27B1;
    border-color: #6E27B1;
    border-radius: 30px;
    padding: 5px 25px;
}

.btn-cencelpost {
    color: #000;
    background-color: #6e27b100;
    border-color: #6E27B1;
    border-radius: 30px;
    padding: 5px 25px;
}


/* slider */

.imgScrollWrap_2 ul,
ol,
li {
    margin: 0;
    padding: 0;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}

.imgScrollWrap_2,
.imgScrollWrap_3 {
    position: relative;
    width: 600px;
    height: 120px;
    border: 1px #999 solid;
    overflow: hidden;
}

.imgScrollBtn01_2,
.imgScrollBtn02_2,
.imgScrollBtn01_3,
.imgScrollBtn02_3 {
    position: absolute;
    display: block;
    width: 22px;
    height: 40px;
    background: url(images/mainBG.png) no-repeat 0 0;
    overflow: hidden;
    z-index: 2;
}

.imgScrollBtn01_2,
.imgScrollBtn01_3 {
    top: 40px;
    left: 0;
}

.imgScrollBtn02_2,
.imgScrollBtn02_3 {
    top: 40px;
    right: 0;
    background-position: -22px 0;
}

.imgScrollBtn01_2:hover,
.imgScrollBtn01_3:hover {
    background-position: 0 -40px;
}

.imgScrollBtn02_2:hover,
.imgScrollBtn02_2:hover {
    background-position: -22px -40px;
}

.imgScrollList_2,
.imgScrollList_3 {
    position: absolute;
    top: 0;
    left: 20px;
    width: 560px;
    height: 120px;
    overflow: hidden;
    z-index: 1;
}

.imgScrollList_2 ul,
.imgScrollList_3 ul {
    position: relative;
    width: 9999px;
    height: 120px;
}

.imgScrollList_2 li,
.imgScrollList_3 li {
    float: left;
    width: 140px;
    height: 120px;
    overflow: hidden;
}

.imgScrollList_2 li a,
.imgScrollList_3 li a {
    float: left;
    margin: 12px 6px;
    width: 128px;
    height: 96px;
    overflow: hidden;
}