.navbar {
    background-color: #6E27B1;
}

.navbar .nav-link {
    color: white;
    font-weight: bold;
}

.div_headname {
    position: relative;
    display: inline;
    color: #7F4AB2;
    font-size: 20px;
    font-weight: bold;
}

.div_newpost {
    float: right;
    position: relative;
    display: inline;
}

.div_newpost .newpost {
    background-color: #6E27B1;
    color: #ffffff;
    border-radius: 22px;
    padding: 5px 15px 5px 5px;
    border: 0px;
}

.div_newpost .newpost:hover {
    background-color: #6e27b1e3;
}

.forum_name {
    font-size: 16px;
    font-weight: bold;
}

.forum_sub_title {
    font-size: 14px;
    font-weight: 100;
    color: #919191;
}

.forum_sub_head_detail {
    font-size: 25px;
    color: #7F4AB2;
}

.forum_sub_date_detail {
    padding-bottom: 7px;
    margin-top: -5px;
    color: #999999;
    font-size: 12px;
    border-bottom: 1px solid #cccccc5c;
}

.forum_sub_title_detail {
    margin-top: 30px;
    font-weight: bold;
}

.boxlite_head {
    padding: 5px;
    border-bottom: 2px solid #cccccc;
    border-radius: 3px;
    margin-top: 20px;
}

.boxlite_detail {
    padding: 5px;
    border-top: 1px solid #cccccc;
    margin-bottom: 5px;
    border-radius: 3px;
}


/********************** reply comment post ************************/

.reply_comment {
    position: absolute;
    padding: 15px 30px 15px 15px;
    text-align: right;
    background-color: #F7F6FF;
    right: 43px;
    bottom: -29px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 32px;
}

.reply_comment .reply {
    display: inline;
    position: relative;
    padding: 7px 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 3px;
    color: #7F4AB2;
    font-weight: bold;
    border-left: 1px solid #cccccc;
}

.reply_comment .reply:hover {
    background-color: #cccccc;
}

.reply_comment .view {
    display: inline;
    position: relative;
    padding: 0 5px;
    font-size: 15px;
    color: #7F4AB2;
    font-weight: bold;
}

.reply_comment_post {
    position: relative;
    padding: 0px 30px 15px 15px;
    text-align: right;
}

.reply_comment_post .reply {
    display: inline;
    position: relative;
    padding: 7px 5px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 3px;
    color: #7F4AB2;
    font-weight: bold;
}

.reply_comment_post .reply:hover {
    background-color: #cccccc;
}

.reply_comment_post .view {
    display: inline;
    position: relative;
    padding: 0 5px;
    font-size: 15px;
    color: #8b8585;
    opacity: 0.5;
}

.footer {
    position: relative;
    background: linear-gradient(0deg, rgba(37, 20, 48, 1) 3%, rgb(105 56 136) 6%, rgb(63 21 90) 94%, rgba(37, 20, 48, 1) 99%);
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}

.footer .list {
    position: relative;
    display: inline;
    font-size: 20px;
    color: #cccccc;
    padding: 0 10px;
}


/************************ bg-color ***************/

.border-head {
    border-top: 0px solid #ffffff6e;
}

.profile {
    position: relative;
    align-items: center;
    padding: 10px 49px;
}

.reply_comment_post .viewcomment {
    display: inline;
    position: relative;
    padding: 0 5px;
    font-size: 15px;
    color: #7F4AB2;
    font-weight: bold;
    cursor: pointer;
}

.reply_comment_post .deletecomment {
    display: inline;
    position: relative;
    padding: 0 5px;
    font-size: 15px;
    color: red;
    font-weight: bold;
    cursor: pointer;
}

.null {
    display: none;
}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    display: inline;
    margin-right: 5px;
}

.profile .profile_name {
    font-size: 20px;
    font-weight: bold;
    position: relative;
    display: inline;
    color: #7F4AB2;
}

.showpost {
    box-shadow: 0px 3px 10px #00000029;
    border-radius: 3px;
}

th {
    color: #7F4AB2;
    text-transform: capitalize;
    font-weight: 100;
    background-color: #F7F7F7;
}

td {
    color: #7F4AB2;
    font-size: 15px;
    font-weight: bold;
}

.modal-title {
    color: #7F4AB2;
    font-size: 16px;
    font-weight: bold;
}

.col-form-label {
    color: #7F4AB2;
    font-weight: bold;
}

.btn-createpost {
    color: #fff;
    background-color: #6E27B1;
    border-color: #6E27B1;
    border-radius: 30px;
    padding: 5px 25px;
}

.btn-cencelpost {
    color: #000;
    background-color: #6e27b100;
    border-color: #6E27B1;
    border-radius: 30px;
    padding: 5px 25px;
}